:root {
    --color-darkgrayblue: hsl(224, 30%, 27%);
    --color-paleblue: hsl(221, 100%, 96%);
    --color-lightlavender: hsl(241, 100%, 89%);
    --color-lightslateblue: hsl(252, 100%, 67%);
    --color-lightroyalblue: hsl(241, 81%, 54%);
    --color-violetblue: hsla(256, 72%, 46%, 1);
    --color-persianblue: hsla(241, 72%, 46%, 0);
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 50em; 
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.principal {
    position: relative;
    z-index: 2;
    border-radius: 40px;
    width: 25em;
    height: 35em;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient(var(--color-lightslateblue), var(--color-lightroyalblue));
}

.circulo {
    display: flex;
    border-radius: 60%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(var(--color-violetblue), var(--color-persianblue));
}

.c100 {
    color: var(--color-lightlavender);
}

.estadisticas {
    z-index: 1;
    position: relative;
    color: black;
    border-radius: 40px;
    width: 25em;
    height: 35em;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    line-height: 1.1;
    font-size: 2em;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 1rem;
}

h2 {
    font-size: 4em;
    margin: 0;
}

h3 {
    font-size: 2em;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 0;
    margin-left: 18%;
    margin-right: 18%;
}

h4 {
    text-align: left;
    font-size: 1.5em;
    color: var(--color-darkgrayblue);
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 1.8em;
}

.boton {
    background-color: var(--color-darkgrayblue);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0;
    width: 80%;
    height: 11%;
    font-size: 20px;
    margin-top: 2em;
    align-content: center;
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    width: 72%;
    height: 4%;
    z-index: 3;
}

.nombre {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: auto;
}

.icon {
    margin-right: 0.5em;
    height: 1.7em;
    display: inline-block;
    vertical-align: middle;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    margin-bottom: 1em;
}

.memory {
    margin-bottom: 1em;
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    margin-bottom: 1em;
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    margin-bottom: 1em;
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.score {
    font-weight: bold;
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--color-darkgrayblue);
}
 
.total {
    color: var(--color-darkgrayblue);
    opacity: 0.5;
    font-weight: 800;
}

.hanken-grotesk-500 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hanken-grotesk-700 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hanken-grotesk-800 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@media (max-width: 48em) { 
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .principal {
        width: 100%;
        height: auto;
        border-radius: 0 0 2em 2em;
        padding: 1.5em 0;
    }

    .circulo {
        width: 12.5em;
        height: 12.5em;
        margin: 1.5em auto;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 1.75em;
        margin-bottom: 0.75em;
    }

    p {
        font-size: 1.125em;
        margin: 0 15%;
    }

    .estadisticas {
        width: 100%;
        height: auto;
        border-radius: 0;
        box-shadow: none;
        padding: 1.5em 0;
    }

    h4 {
        font-size: 1.375em;
        margin-left: 1.3em;
        margin-bottom: 1em;
    }

    .general {
        width: 85%;
        padding: 1em;
        margin-bottom: 1em;
        height: auto;
    }

    .nombre {
        font-size: 1em;
    }

    .icon {
        height: 1.5em;
        margin-left: 0;
        margin-right: 0.5em;
    }

    .boton {
        width: 85%;
        height: 3.5em;
        font-size: 1.25em;
        margin-top: 1.5em;
    }

    .score, .total {
        font-size: 1em;
    }
}
